body{
    font-family:Arial;
    margin:20px;
    background:lightblue;
    
}
h1{
    text-align: center;
}
table{
    width:100%;
    border-collapse:collapse;
}
th,td{
    border:1px solid #ccc;
    padding:8px;
}
th{
    background:#eee;
}
button{
    margin:2px;
    padding:5px 8px;
    border:none;
    border-radius:4px;
    cursor:pointer;
    background:#007BFF;
    color:white;
}
button:hover{
    opacity:0.9;
}